<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am a Master student in Artificial Intelligence Application, Department of Computer Science at <a href="https://www.korea.ac.kr">Korea University</a>, where I am a member of the <a href="https://media.korea.ac.kr/english/people/">Media Lab</a>, under the guidance of Prof. JungHyun Han. I received my Bachelor's degree in the Department of Software Engineering from <a href="https://www.kw.ac.kr">Kwangwoon University</a>. I graduated from <a href="https://www.jfk.edu.mx">John F. Kennedy The American School of Querétaro</a> in Mexico, where I completed both middle and high school. I lived in Mexico for six years.
            </p>
            <p class="paragraph-text justify-text">
                Previously, I was an undergraduate intern at the AI Lab, Kwangwoon University, under the guidance of <a href="https://www.kw.ac.kr/ko/univ/electronic05_2.jsp?mode=view&articleNo=1409756&article.offset=0&articleLimit=10&no=12000006&page=1">Prof. Byungjun Park</a>. Additionally, I worked on Large Language Model(LLM) Security in collaboration with <a href="https://sites.google.com/view/c2nslab/">CNS Lab</a>, supervised by Prof. Jinwoo Kim.
            </p>
            <p class="paragraph-text justify-text">
                My research interests are in computer graphics, computer vision, and related fileds, including 3D reconstruction, pose estimation, rendering techniques, global illumination, generative AI, object detection/tracking, and multi-modal learning. I conduct research to create a world where people can seamlessly move between the real and virtual worlds through XR technology.
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">mextony.tistory.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
            <p class="paragraph-text justify-text">
                I am fluent in Korean, English, and Spanish.
            </p>
        </div>
    </section>
</div>
