<div class="section-wrapper">
    <section class="section" id="blog-posts">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">Research</div>
            <p class="paragraph-text justify-text">
                1. Jaehyuk Lim*, Donggyu Lee*, Junghyun Han and Seung-wook Kim <b>“Parameter-Preserving Real-time BIM Rendering via Direct GPU Ray Tracing”</b>, <i>Computer Animation and Virtual Worlds (CAVW), Vol. 37, 2026 (CASAXR 2026)</i>, <a href="https://tony7078.github.io/BIM-Rendering/" style="color: #2980b9;">[Project]</a>
            </p>
            <p class="paragraph-text justify-text">
                2. Seungho Song*, Donggyu Lee**, Jaehan Kim, Jiyoung Choi and Jinwoo Kim <b>“Measuring Hallucination in Large Language Models for Cyber Threat Intelligence: An Exploratory Study”</b>, <i>Mendeley Data 2025</i>
            </p>
            <p class="paragraph-text justify-text">
                3. Donggyu Lee*, Gunwoo Kim** and Byungjun Park <b>“AttentiveAcupoint-Net: A simplified attention mechanism and squeeze-and-excitation based network for ear acupoints detection”</b>, <i> IIBC 2024</i>
            </p>
            <!--<div class="blogs-wrapper" id="rss-feeds"></div>-->
        </div>
    </section>
</div>